package ${package}.modules.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import ${package}.common.base.BaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * <p>
 * ${comments}
 * </p>
 *
 * @author: ${author}
 * @version: 1.0
 * @date: Created in ${datetime}
 * @package:  ${package}.${moduleName}.entity
 * @modified: ${author}
 * @description: ${comments}
 * @copyright: Copyright (c) ${date}
 */
@EqualsAndHashCode(callSuper = true)
@Data
@TableName("${tableName}")
public class ${className}Entity extends BaseEntity {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.columnName != 'id' && $column.columnName != 'creator' && $column.columnName != 'create_date')
    /**
     * $column.comments
     */
	private $column.attrType $column.attrname;
#end
#end
}